/*Stick Footer*/
/*=====================================*/
html, body {
    height: 100%;
}
.wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -30px;
}
.footer, .push {
    height: 30px; 
}
/*=====================================*/
button {
	padding: 5px;
	margin: 5px;
}
.fitted {
	display: inline-block;
	margin: 5px;
	border: 2px solid black;
}
small, p {
	font-size: 24px;
}
#topicSection, #searchBar {
	margin: 5px 0 5px 0;
}